<!DOCTYPE html>
<html>
<head>
    <title> Обрахувати </title>
</head>
<body>
    <div class="container">
    <form action="/calculate" method="post">
            <div>
                <label> Час: </label>
                <input type="number" name="time"/>
            </div>
            <div>
                <input type="submit" value="Обрахувати"/>
            </div>
    </form>
    </div>
</body>
</html>